
footer .contacto{
    height:600px;
    background-image: url(../img/footer.png);
    background-position:center;
    padding:10px 0;
}

footer .footer-textos{
    text-align: center;
    color: #fff;
    font-size:25px;
}

footer .footer-textos p{
    font-size: 14px;
    margin:15px 0 30px 0;
    color: #999999;

}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    
}
footer .contacto  input[type="text"], footer .contacto  input[type="email"],
footer .contacto  textarea{
    width: 100%;
    margin: 5px 0;
    padding: 15px 20px;
    background: none;
    border-radius: 5px;
    color:rgb(204, 204, 204);
    border: 2px solid rgba(204, 204, 204, 0.383);
    font-family: 'lato';
    font-weight: 300;
}

footer .contacto  textarea{
    height:150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
.derecha{
   display: flex;
   justify-content: flex-end;
}
footer .contacto  input[type="submit"]{
    display:block;
    width: 100px;
    margin:10px 0;
    padding: 10px 15px;
    background: none;
    border:1px solid #15a4fa;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    float:right;

}
footer .contacto  input[type="submit"]:hover{
    background: #15a4fa;
    color: #fff;
}

.footer{
    height:200px;
    background: #000;
}

@media screen and (max-width:760px){
    header .menu{
        justify-content: center;
    }
    header .contenido-header .texto-header{
       font-size:18px;
    }
    header .contenido-header .texto-header .desaparecer{
        display: none;
    }
}

@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width:49%;
    }
}

@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
    main .quehacemos .contenido-cajas .tarjeta{
       width: 48%;
    }
    main .contenido-cajas{
        justify-content: center
    }
    main .quehacemos .contenido-cajas .tarjeta{
        margin:10px 0;
    }
}

@media screen and (max-width: 350px){
    main .quehacemos .contenido-cajas .tarjeta{
        width: 98%;
    }
    header .contenido-header .texto-header{
        font-size:15px;
    }
}